@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap');

body{
    margin: 0px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

/* Inicio Menu */

.navBar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0f22;
}

.container{
    margin: 0;
    width: 90%;
    display: flex;
    justify-content: center;
}

.navBar .container{
    justify-content: space-around;
    align-items: center;
}

.navBar h1{
    color: #FFFFFF;
    font-family: 'Inria Sans';
    font-weight: 600;
    margin: 0;
}

.listaMenu{
    padding: 0;
    width: auto;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.itemMenu{
    color: #FFFFFF;
    font-size: 22px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Inria Sans';
    font-weight: 400;

}

.btnCadastro{
    border-radius: 12px;
    background-color: #0c0f22;
    border: 2px solid #FFFFFF;
    height: 40px;
    width: 130px;
    font-family: 'Inria Sans';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.btnLogin{
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 2px solid #0c0f22;
    height: 40px;
    width: 130px;
    font-family: 'Inria Sans';
    font-weight: 400;
    font-size: 20px;
    color: #0c0f22;
}

.barraMenu{
    height: 60px;
    width: 3px;
    background-color: #FFFFFF;
}

.itemMenu:hover{
    text-decoration: underline #FFFFFF 3px;
    cursor: pointer;
}

.navBar button:hover{
    cursor: pointer;
}

.btnCadastro:hover{
    background-color: #FFFFFF;
    border: 2px solid #0c0f22;
    color: #0c0f22;
}

.btnLogin:hover{
    background-color: #0c0f22;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

.navBar p{
    color: #FFFFFF;
    font-size: 22px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Inria Sans';
    font-weight: 400;
}

/* Fim Menu */

/* Inicio Banner Home */

.banner{
    background-image: url('../images/bgBanner.jpg');
    height: 500px;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: end;
}

.banner h1{
    font-family: 'Inria Sans';
    font-size: 48px;
    font-weight: 600;
}

/* Fim Banner Home */

/* Inicio Corpo Home */

.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.areaDivisao{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: 45px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.peqBarra{
    height: 38px;
    width: 12px;
    background-color: #0c0f22;
}

.barraLonga{
    height: 12px;
    width: 90%;
    background-color: #0c0f22;
    display: flex;
}

.corpo .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.corpo p{
    margin: 0;
}

.areaTable{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

/* Inicio Tabela Noticias */

.tableNoticias{
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.tableNoticiasTitulo{
    display: flex;
    width: 100%;
    height: auto;
    border: solid #0c0f22 2px;
    background-color: #0c0f22;
    color: #FFFFFF;
    font-family: 'Inria Sans';
    font-weight: 400;
    font-size: 12px;
    justify-content: center;
}

.cedulaNoticia{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #202542;
    border: solid #0c0f22 2px;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.conteudoDireita{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* justify-content: center; */
}

.conteudoDireita p{
    color: #FFFFFF;
    font-family: 'Inria Sans';
    margin-right: 25px;
}

.cedulaNoticia h1{
    color: #FFFFFF;
    font-family: 'Inria Sans';
    font-weight: 400;
    font-size: 30px;
    margin: 0;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.barraJogo{
    height: 100%;
    width: 10px;
    background-color: aqua;
}

.cedulaNoticia:hover{
    background-color: #323857;
    cursor: pointer;
}

/* Fim Tabela Noticias */

/* Inicio Tela Noticia */

.corpoMateria{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.areaNoticia{
    display: flex;
    width: 65%;
    flex-direction: column;
    margin-right: 150px;
}

.areaNoticia h1{
    font-family: 'Inria Sans';
    font-size: 38px;
}

.areaNoticia p{
    font-family: 'Inria Sans';
    font-size: 18px;
    text-align: justify;
}

.autor{
    font-weight: 800;
    font-size: 20px;
}

.areaComentarios{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.secaoComentarios{
    /* margin-top: 100px; */
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tituloSecaoComentarios{
    background-color: #0c0f22;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid #0c0f22 2px;
}

.tituloSecaoComentarios h1{
    color: #FFFFFF;
    font-family: 'Inria Sans';
    font-size: 36px;
}

.cardComentario{
    background-color: #202542;
    border: solid #0c0f22 2px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.autorComentario{
    border-bottom: solid #0c0f22 2px;
    color: #FFFFFF;
    font-family: 'Inria Sans';
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
}

.mensagemComentario{
    color: #FFFFFF;
    font-family: 'Inria Sans';
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
}

.modalNovoComentario{
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 70vw;
    background-color: #303657;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    margin: auto;
    border-radius: 20px;
}

.tituloModal{
    width: 100%;
    font-family: 'Inria Sans';
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    background-color: #0c0f22;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin-top: 0;
}

.modalNovoComentario .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.labelModal{
    font-family: 'Inria Sans';
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
}

.modalNovoComentario textarea{
    width: 100%;
    height: 20vh;
    border-radius: 8px;
}

.btnModal{
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 2px solid #0c0f22;
    height: auto;
    width: 130px;
    font-family: 'Inria Sans';
    font-weight: 400;
    font-size: 20px;
    color: #0c0f22;
    margin-top: 12px;
}

.spnClose{
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    border-radius: 20px;
}

.btnModal:hover{
    cursor: pointer;
    background-color: #202542;
    color: #FFFFFF;
}

.btnComentar{
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 2px solid #0c0f22;
    height: 40px;
    width: 130px;
    font-family: 'Inria Sans';
    font-weight: 400;
    font-size: 20px;
    color: #0c0f22;
    margin-top: 30px;
}

.btnComentar:hover{
    cursor: pointer;
    background-color: #202542;
    color: #FFFFFF;
}

/* Fim Tela Noticia */

/* Inicio Tabela Topicos */

.tableTopicos{
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.tableTopicosTitulo{
    display: flex;
    width: 100%;
    height: auto;
    border: solid #0c0f22 2px;
    background-color: #0c0f22;
    color: #FFFFFF;
    font-family: 'Inria Sans';
    font-weight: 400;
    font-size: 12px;
    justify-content: center;
}

.cedulaTopico{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #202542;
    border: solid #0c0f22 2px;
    height: 40px;
    align-items: center;
    /* justify-content: center; */
}

.cedulaTopico p{
    margin-left: 20px;
    color: #FFFFFF;
    font-family: 'Inria Sans';
    font-size: 23px;
}

.cedulaTopico img{
    margin-left: 20px;
    height: 30px;
    width: auto;
}

/* Fim Tabela Topicos */

/* Inicio Carousel */

.carousel{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.barraCarousel{
    display: flex;
    width: 100%;
    height: 10px;
    background-color: #0c0f22;
}

.corpoCarousel{
    background-image: url('../images/bannerPgl.jpg');
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 100%;
    height: 400px;
    background-size: cover;
    justify-content: center;
}

.corpoCarousel .container{
    justify-content: end;
    align-items: start;
}

.corpoCarousel h1{
    color: #FFFFFF;
    font-family: 'Inria Sans';
    font-weight: 400;
}

/* Fim Carousel */

/* Inicio Tela Login */

.bannerLogin{
    background-image: url('../images/bgLoginDeg.jpg');
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.cardLogin{
    display: flex;
    height: 60vh;
    width: 40vw;
    background-color: #0c0f22;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardLogin h1{
    font-family: 'Inria Sans';
    color: #FFFFFF;
    font-size: 32px;
}

.cardLogin p{
    font-family: 'Inria Sans';
    color: #FFFFFF;
    font-size: 18px;
}

.cardLogin input{
    width: 80%;
    padding: 10px;
    font-family: 'Inria Sans';
    font-size: 18px;
    border-radius: 15px;
    border: none;
}

.dicaLogin{
    font-size: 14px;
    font-family: 'Inria Sans';
    padding: 15px;
    color: #FFFFFF;
}

.link{
    color: #303657;
    text-decoration: none;
}

.link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.cardLogin button{
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 2px solid #0c0f22;
    height: 40px;
    width: 130px;
    font-family: 'Inria Sans';
    font-weight: 400;
    font-size: 20px;
    color: #0c0f22;
}

.cardLogin button:hover{
    background-color: #0c0f22;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}

/* Fim Tela Login */

/* Inicio Tela Cadastro */

.bannerCadastro{
    background-image: url('../images/bgCadastroDeg.jpg');
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.cardCadastro{
    display: flex;
    height: 88vh;
    width: 40vw;
    background-color: #0c0f22;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.cardCadastro h1{
    font-family: 'Inria Sans';
    color: #FFFFFF;
    font-size: 32px;
}

.cardCadastro p{
    font-family: 'Inria Sans';
    color: #FFFFFF;
    font-size: 18px;
}

.cardCadastro input{
    width: 95%;
    padding: 10px;
    font-family: 'Inria Sans';
    font-size: 18px;
    border-radius: 15px;
    border: none;
}

.cardCadastro textarea{
    width: 95%;
    padding: 10px;
    font-family: 'Inria Sans';
    font-size: 18px;
    border-radius: 15px;
    border: none;
    height: 50%;
}

.cardCadastro button{
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 2px solid #0c0f22;
    height: 40px;
    width: 130px;
    font-family: 'Inria Sans';
    font-weight: 400;
    font-size: 20px;
    color: #0c0f22;
    margin-top: 20px;
}

.cardCadastro button:hover{
    background-color: #0c0f22;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    cursor: pointer;
}

.colunaCadastro{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    margin-top: 60px;
}

.campoSelect{
    flex-direction: column;
}

.campoColunaCadastro{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.colunaCadastro input{
    width: 85%;
}

.inpCadastroJogo{
    height: 40px;
    width: 100%;
}

.slcJogo{
    width: 95%;
    padding: 10px;
    font-family: 'Inria Sans';
    font-size: 18px;
    border-radius: 15px;
    border: none;
}

/* Fim Tela Cadastro */

/* Inicio Home ADM */

.corpoAdm{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.menuLateral{
    width: 20%;
    height: 100vh;
    background-color: #0c0f22;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.conteudoAdm{
    width: 80%;
    height: 100vh;
    background-color: #202542;
    display: flex;
    flex-direction: column;
}

.menuLateral img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    /* border: 2px solid #000000; */
}

.menuLateral ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.menuLateral li{
    color: #FFFFFF;
    font-family: 'Inria Sans';
    font-size: 20px;
}

.tituloMenuLateral{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloMenuLateral h1{
    font-family: 'Inria Sans';
    color: #FFFFFF;
    font-size: 38px;
}

.tituloMenuLateral h3{
    font-family: 'Inria Sans';
    color: #FFFFFF;
    font-size: 20px;
}

.menuLateral button{
    border-radius: 12px;
    background-color: #FFFFFF;
    height: 40px;
    width: 130px;
    font-family: 'Inria Sans';
    font-weight: 400;
    font-size: 20px;
    color: #0c0f22;
}

.menuLateral button:hover{
    cursor: pointer;
}

.areaKpi{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40%;
    align-items: center;
    justify-content: space-around;
}

.linhaKpi{
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    justify-content: space-around;
}

.cardKpi{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 15px;
    width: 40%;
    justify-content: center;
    border-bottom: 8px solid #0c0f22;
}

.cardKpi h1{
    margin: 0;
    margin-left: 30px;
    font-family: 'Inria Sans';
    font-size: 32px;
}

.cardKpi h3{
    margin: 0;
    margin-left: 30px;
    font-family: 'Inria Sans';
    font-size: 24px;
}

.areaGrafico{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 60%;
}

.cardGrafico{
    width: 90%;
    height: 90%;
    display: flex;
    /* width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto; */
    justify-content: center;
    align-items: center;
    /* padding: 60px; */
    background-color: #FFFFFF;
    border-bottom: 8px solid #0c0f22;
    border-radius: 15px;
}

/* Fim Home ADM */

/* Inicio Cadastro Jornalista */

.bannerCadastroJornalista{
    background-image: url('../images/bgJornalista.jpg');
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

/* Fim Cadastro Jornalista */

/* Inicio Nova Materia */

.bannerNovaMateria{
    background-image: url('../images/bgNovaMateria.jpg');
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

/* Fim Nova Materia */

/* Inicio Tela Cadastro Jogo */

.bannerCadastroJogo{
    background-image: url('../images/bgJogo.jpg');
    background-position-x: center;
    background-position-y: center;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

/* Fim Tela Cadastro Jogo */

/* Inicio Tela Ranking */



/* Fim Tela Ranking */