@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:wght@300;400;500&display=swap');

body{
    margin: 0px;
}

/* Inicio Menu */

.navBar{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c0f22;
}

.container{
    margin: 0;
    width: 90%;
    display: flex;
    justify-content: center;
}

.navBar .container{
    justify-content: space-around;
    align-items: center;
}

.navBar h1{
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    margin: 0;
}

.listaMenu{
    padding: 0;
    width: auto;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

.itemMenu{
    color: #FFFFFF;
    font-size: 22px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Roboto';
    font-weight: 400;

}

.btnCadastro{
    border-radius: 12px;
    background-color: #0c0f22;
    border: 2px solid #FFFFFF;
    height: 40px;
    width: 130px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.btnLogin{
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 2px solid #0c0f22;
    height: 40px;
    width: 130px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 20px;
    color: #0c0f22;
}

.barraMenu{
    height: 60px;
    width: 3px;
    background-color: #FFFFFF;
}

.itemMenu:hover{
    text-decoration: underline #FFFFFF 3px;
    cursor: pointer;
}

.navBar button:hover{
    cursor: pointer;
}

.btnCadastro:hover{
    background-color: #FFFFFF;
    border: 2px solid #0c0f22;
    color: #0c0f22;
}

.btnLogin:hover{
    background-color: #0c0f22;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
}

/* Fim Menu */

/* Inicio Banner Home */

.banner{
    background-image: url('../images/bgBanner.jpeg');
    height: 500px;
    width: 100%;
    background-position-x: center;
    background-position-y: center;
    color: #FFFFFF;
    display: flex;
}

.banner h1{
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 500;
}

/* Fim Banner Home */

/* Inicio Corpo Home */

.corpo{
    display: flex;
    justify-content: center;
}

.areaDivisao{
    display: flex;
    flex-direction: row;
    margin-top: 45px;
    margin-bottom: 45px;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.peqBarra{
    height: 38px;
    width: 12px;
    background-color: #0c0f22;
}

.barraLonga{
    height: 12px;
    width: 90%;
    background-color: #0c0f22;
    display: flex;
}

.corpo .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.corpo p{
    margin: 0;
}

.areaTable{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}

/* Inicio Tabela Noticias */

.tableNoticias{
    width: 65%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.tableNoticiasTitulo{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #0c0f22;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    justify-content: center;
}

/* Fim Tabela Noticias */

/* Inicio Tabela Topicos */

.tableTopicos{
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.tableTopicosTitulo{
    display: flex;
    width: 100%;
    height: auto;
    background-color: #0c0f22;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 12px;
    justify-content: center;
}